<!DOCTYPE html>
		<html>
		<head>
			<title>Maine</title>
			<script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-with-polyfills-latest.js"></script>
		</head>
		<body>
			<h1>Welcome to Yandex Page!</h1>
            {{define "scripts"}}
			<script>
  				window.YaAuthSuggest.init(
    				{
						client_id: '4f5096d6feee47b58e06fac58ac5082b',
						response_type: 'token',
						redirect_uri: 'https://oauth.yandex.ru/service_auth'
					 },
    				{
      					view: "button",
      					parentId: "buttonContainerId",
      					buttonSize: 'xxl',
      					buttonView: 'icon',
      					buttonTheme: 'dark',
      					buttonBorderRadius: "22",
      					buttonIcon: 'yaEng',
    				}
  				)
  				.then(({handler}) => handler())
  				.then(data => console.log('Сообщение zx токеном', data))
  				.catch(error => console.log('Обработка ошибки', error))
			</script>
            {{end}}
            {{template "scripts"}}
		</body>
		</html>